  /* Body */
   body{
    background-color:#F0F0F0 ;
   }

/* Navigationsbar */
nav {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  background: #C9E1FF;
  padding-block: 1rem;
}

nav u1 {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

nav a:hover {
  background: #D0C9D6;
}

/* sidebar */
   .sidebar {
  width: 30%;
  background-color: #EBF7FE;
  padding: 20px;

}

.sidebar, .main {
  padding: 20px;
}


  /* Main for cv.html */
   main {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}



.main{
    flex: 1;
    padding: 40px;
    background-color: #F0F0F0;
}


  /* Billeder */
   img {
  display:block;
  border-radius:0;
  margin-left: auto;
  margin-right: auto;
}

#img-aboutme {
  display:block;
  border-radius:50%;
  margin-left: auto;
  margin-right: auto;
}

  #sidebar-img {
  border-radius: 0;
  width: 90%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  
}

 #pirat-img {
  border-radius: 0;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

 #forlovelse-img {
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
 }


 /* h1 */
   h1 {
  background: #C9E1FF;
  color: white;
  padding: 20px;
  text-align: center;
}


  /* h2 */
   h2 {
  color:#665e65;
  margin-top: 20px;
  margin-bottom: 10px;
}

   /* h3 */
     h3 {
  color:#665e65;
}

/* Footer*/
footer {
  text-align: center;
  padding: 15px;
  background: #C9E1FF;
  color: #EBF7FE;
  margin-top: 20px;
}

/* Portfolio Grid */

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;

  justify-content: center; 
  align-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

/*RESPONSIVE DESIGN*/
/* Mobil */
@media (max-width: 375px) {
  .projects {
    grid-template-columns: 1fr;
  }

  main {
    flex-direction: column;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
